.user-snap {
    width: 100%;
    padding: 25px 15px;
    display: flex;
    justify-content: space-around;
    background-color: inherit;
    color: rgb(196, 196, 196);
    /* border-bottom: 1px solid rgba(128, 128, 128, 0.644); */
}

.user-img {
    width: 80px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.user-img img {
    object-position: center;
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.user-img h3 {
    color: white;
    font-size: 15px;
    margin: 5px 0px;
}
.user-stats {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 10px;
}
.stats-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
}
.stats-group :is(h4, p) {
    font-size: large;
    font-weight: 600;
    color: white;
}
.stats-group :is(p) {
    font-size: 12px;
    color: rgb(196, 196, 196);
}

