.github-stats {
    width: 100%;
    text-align: center;
    background-color: inherit;
}
.stats-heading {
    margin: 0 auto;
    font-size: larger;
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid grey;
    width: max-content;
    color: white;
}